.navbar a.navbar-brand span{
    font-size: 1.2rem !important;
    font-weight: 700;
    font-style: italic;
    color: #fff;
} 
nav{
    padding-inline: 15px;
    z-index: 999 !important;
}

nav ul li a{
    color: #fff;
}

.dropdown-menu{
    background-color: var(--main-color) !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    position: absolute !important;
    top: 53px !important;
    left: -32px !important;
    border-radius: 0;
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: #f48b37 !important;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: var(--bs-dropdown-link-hover-color);
    background-color: #f48b37;
}