<div class="container-fluid">
    <div class="card border-0 shadow-sm">
        <div class="card-header border-0">
            <div class="d-flex align-items-center justify-content-between w-100">
                <h4 class="text-main mb-0">Task Management</h4>
                <button type="button" class="btn btn-main" (click)="createtask()">
                    <i class="fa-solid fa-plus"></i>
                    Create Task
                </button>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Sr. No.</td>
                            <td>Task Name</td>
                            <td>Created On</td>
                            <td>Due Date</td>
                            <td>Is Completed</td>
                            <td>Completed On</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tasklist of tasklisttblArray; let i=index">
                            <td>{{i+1}} </td>
                            <td>{{tasklist.taskName}} </td>
                            <td>{{tasklist.frequency}} </td>
                            <td>{{tasklist.createdDate | date}} </td>
                            <td>{{tasklist.dueDate | date}} </td>
                            <td>
                                <div *ngIf="tasklist.isCompleted">
                                    <span class="badge rounded-pill text-bg-success">Completed</span>
                                </div>
                                <div *ngIf="!tasklist.isCompleted">
                                    <span class="badge rounded-pill text-bg-danger">Not Completed</span>
                                </div>
                                <!-- {{tasklist.isCompleted}} -->
                            </td>
                            <td>
                                <div class="d-flex gap-0 action-btns">
                                    <button type="button" class="btn bg-main-light text-main"
                                        (click)="editTask(tasklist)"><i class="fa-solid fa-pen-to-square"></i></button>
                                    <button type="button" class="btn  text-danger" (click)="deletetask(tasklist)"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<div class="modal form-container" #createtaskmodal>
    <!-- create task modal -->
    <form [formGroup]="addtaskform">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header bg-main">
                    <div class="modal-title">
                        {{ !editflag ? 'create' : 'update' }}
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="closemodal()"></button>
                </div>
                <div class="modal-body">
                    <div class="row align-items-center gy-3">
                        <div class="col-sm-6">
                            <label for="exampleInputEmail1" class="form-label">Task Name</label>
                            <input class="form-control" id="disabledInput" type="text" formControlName="taskName"
                                placeholder="" [disabled]="editflag">
                            <!-- <div class="text-danger" *ngIf="f['taskName']?.invalid">jsdvnjksdvnjvskvb -->
                            <div class="text-danger"
                                *ngIf="f['taskName'].touched && f['taskName'].errors?.['required']">
                                Name is required
                            </div>
                            <div class="text-danger" *ngIf="f['taskName'].errors?.['pattern']">
                                Invalid Name
                            </div>
                        </div>
                        <!-- <div class="col-sm-6">
                            <label for="exampleInputEmail1" class="form-label">Task Description</label>
                            <input type="text" class="form-control" formControlName="description">
                            <div class="text-danger"
                                *ngIf="f['description'].touched && f['description'].errors?.['required']">
                                Description is required
                            </div>
                        </div> -->
                        <div class="col-sm-6">
                            <div class="mt-2 form-label">Task Frequency</div>
                            <select class="form-control" formControlName="frequency" id="">
                                <option value="Daily">Daily</option>
                                <option value="Weekly">Weekly</option>
                                <option value="Monthly">Monthly</option>
                            </select>
                            <div class="text-danger"
                                *ngIf="f['frequency'].touched && f['frequency'].errors?.['required']">
                                Frequency is required
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="exampleInputEmail1" class="form-label">Create Date</label>
                            <input type="date" class="form-control" formControlName="createdDate">
                            <div class="text-danger"
                                *ngIf="f['createdDate'].touched && f['createdDate'].errors?.['required']">
                                createdDate is required
                            </div>
                        </div>
                        <!-- <div class="col-sm-6">
                            <label for="exampleInputEmail1" class="form-label">Start Date</label>
                            <input type="date" class="form-control" formControlName="startDate">
                            <div class="text-danger"
                                *ngIf="f['startDate'].touched && f['startDate'].errors?.['required']">
                                startDate is required
                            </div>
                        </div> -->
                        <div class="col-sm-6">
                            <label for="exampleInputEmail1" class="form-label">Due Date</label>
                            <input type="date" class="form-control" formControlName="dueDate">
                            <div class="text-danger" *ngIf="f['dueDate'].touched && f['dueDate'].errors?.['required']">
                                startDate is required
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="exampleInputEmail1" class="form-label">Select Status</label>
                            <select class="form-select" formControlName="isCompleted">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <div class="text-danger"
                                *ngIf="f['isCompleted'].touched && f['isCompleted'].errors?.['required']">
                                startDate is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-main-light" data-bs-dismiss="modal"
                        (click)="clear()">Clear</button>
                    <button type="submit" class="btn btn-main"
                        (click)="this.editflag ? updateTask() : createNewTask()">{{this.editflag ?
                        'Update' :
                        'Create'}} </button>
                    <!-- <button class="btn btn-main" (click)="createNewTask()">Submit</button>
                    <button (click)="updateTask()">Update</button> -->
                </div>
            </div>
        </div>
    </form>
</div>