.card{
    margin-block: 10px !important;
}

.modal{
    background-color:#030404a8 !important;
}

.table>thead {
    vertical-align: middle;
    font-weight: 600 !important;
    font-size: 0.85rem !important;

}

.table > tbody{
    vertical-align: middle;
    font-size: 0.85rem !important;
}

.modal-header{
    background-color: #f48b37 !important;
}

.modal-title{
    font-size: 1rem !important;
    color: #ffff;
}