<div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="registerform" (ngSubmit)="register()">
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" id="fullName" formControlName="fullName" required />
        </div>

        <div class="form-group">
            <label for="emailId">Email ID</label>
            <input type="email" id="emailId" formControlName="emailId" required />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" required />
        </div>

        <div class="form-group">
            <label for="mobileNo">Mobile Number</label>
            <input type="text" id="mobileNo" formControlName="mobileNo" required />
        </div>

        <button type="submit">Register</button>
    </form>
</div>

<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginform" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="emailId">Email ID</label>
            <input type="email" id="emailId" formControlName="loginemailId" required />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="loginpassword" required />
        </div>

        <button type="submit">Submit</button>

    </form>
</div>

