<!-- <div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="registerform" (ngSubmit)="register()">
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" id="fullName" formControlName="fullName" required />
        </div>

        <div class="form-group">
            <label for="emailId">Email ID</label>
            <input type="email" id="emailId" formControlName="emailId" required />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" required />
        </div>

        <div class="form-group">
            <label for="mobileNo">Mobile Number</label>
            <input type="text" id="mobileNo" formControlName="mobileNo" required />
        </div>

        <button type="submit">Register</button>
    </form>
</div>

<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginform" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="emailId">Email ID</label>
            <input type="email" id="emailId" formControlName="loginemailId" required />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="loginpassword" required />
        </div>

        <button type="submit">Submit</button>

    </form>
</div>
 -->

<ng-container *ngIf="login">

    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png"
                    alt="illustration" class="illustration" />
                <h1 class="opacity">LOGIN</h1>
                <form [formGroup]="loginform" (ngSubmit)="submit()">
                    <input type="text" placeholder="USERNAME" formControlName="loginemailId" />
                    <input type="password" placeholder="PASSWORD" formControlName="loginpassword" />
                    <button class=" btn-main" type="submit">SUBMIT</button>
                </form>
                <div class="register-forget opacity">
                    <a (click)="login = false ">REGISTER</a>
                    <a href="">FORGOT PASSWORD</a>
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
</ng-container>

<ng-container *ngIf="!login">
    <section class="container">
        <div class="register-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png"
                    alt="illustration" class="illustration" />
                <h1 class="opacity">Register</h1>
                <form [formGroup]="registerform" (ngSubmit)="register()">
                    <div class="mb-2">
                        <input type="text" id="fullName" formControlName="fullName" placeholder="Full name" required />
                    </div>
                    <div class="mb-2">
                        <input type="text" id="fullName" formControlName="emailId" placeholder="Email ID" required />
                    </div>
                    <div class="mb-2">
                        <input type="text" id="fullName" formControlName="password" placeholder="Password" required />
                    </div>
                    <div class="mb-2">
                        <input type="text" id="fullName" formControlName="mobileNo" placeholder="Mobile Number"
                            required />
                    </div>
                    <div class="mb-2">
                        <button type="submit" class="btn-main">SUBMIT</button>
                    </div>
                </form>
                <div class="login-forget opacity text-center">
                    <a (click)="login=true">LOGIN</a>
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
</ng-container>