/* You can add global styles to this file, and also import other style files */

html,
body{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}
:root{
    --main-color: #6D28D9;
    --main-color-light: #8b5cf65e;
}

.form-container .form-label{
    font-size: 0.85rem !important;
    font-weight: 500;
}
.form-container .form-data{
    font-size: 0.85rem !important;
    font-weight: 700;
}
.bg-main{
    background-color: #6D28D9 !important;
}
.text-main{
    color: #6D28D9 !important;
}
.btn-main{
    background-color: #6D28D9 !important;
    color: #fff !important;
}
.btn-main-light{
    background-color: #C4B5FD !important;
    color: #4C1D95 !important;
    
}

.action-btns button{
    padding: 5px 10px !important;
    font-size: 0.82rem !important;
}

table thead tr td{
    background-color: var(--main-color-light) !important;
    color: var(--main-color);
}
table thead tr td{
    font-size: 0.85rem !important;
    font-weight: 700 !important;
}

table tbody tr td{
    font-size: 0.85rem !important;
}